
@{
    ViewBag.Title = "RulesPoints";
}

<h2>RulesPoints</h2>

<table class="table table-striped">

     
    <tr>
        <td>1. You get <label class="label label-success">2</label> points for every goal a player from your team has scored.</td>
    </tr>

    <tr>
        <td>2. You get <label class="label label-success">1</label> point for every goal assistence a player from your team has made.</td>
    </tr>

    <tr>
        <td>3. You get <label class="label label-success">1</label> point for every win that the player had in his team in every fixture.</td>
    </tr>

    <tr>
        <td>4. You get <label class="label label-success">1</label> point for every match if your player's team has more ball posession.</td>
    </tr>
    <tr>
        <td>5. You get <label class="label label-success">1</label> point for every match if your player's team has more total shoots.</td>
    </tr>
    <tr>
        <td>6. You get <label class="label label-success">1</label> point for every match if your player's team has more passes.</td>
    </tr>

    <tr>
        <td>7. You lose <label class="label label-danger">1</label> point for every match if your player's team has more fouls.</td>
    </tr>
     
    <tr>
        <td>8. You get <label class="label label-success">1</label> point for every match if your player's team has more corners.</td>
    </tr>

    <tr>
        <td>9. You lose <label class="label label-danger">1</label> point for every match if your player's team has more yellow cards.</td>
    </tr>

    <tr>
        <td>10. You lose <label class="label label-danger">1</label> point for every match if your player's team has more red cards.</td>
    </tr>
</table>
